<ion-header>
  <ion-toolbar>
    <ion-title>Wuduk</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-avatar slot="start" >
      <img src="./assets/wuduk/islam.png">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
    <h2>CARA DAN DOA-DOA WUDUK</h2>
    </ion-list-header>
  <ion-label>
    <h1>Mulakan dengan bacaan Bismillah beserta bacaan doanya:</h1>
    <img src="../../../assets/wuduk/PermulaanWuduk.png" alt="" srcset="">
  </ion-label>
  &nbsp;
  &nbsp;
  &nbsp;
  <ion-label><h1>Membasuh jari-jemari hingga pergelangan tangan sambil membaca</h1>
  <img src="../../../assets/wuduk/jari-jemari.png" alt="" srcset="">
  </ion-label>
  &nbsp;
  &nbsp;
  &nbsp;
  <ion-label><h1>Berkumur-kumur dan membaca:</h1>
    <img src="../../../assets/wuduk/Berkumur-kumur.png" alt="" srcset="">
  </ion-label>
  &nbsp;
  &nbsp;
  &nbsp;
  <ion-label><h1>Masukkan air ke dalam hidung dan keluarkannya kembali (istinsyaq):</h1>
    <p>a. Masukkan air ke dalam hidung sambil membaca</p>
    <img src="../../../assets/wuduk/airdlmhidung.png" alt="" srcset="">
    &nbsp;
    <p>b. Mengeluarkan air dari hidung, membaca</p>
    <img src="../../../assets/wuduk/keluarairdarihidung.png" alt="" srcset="">
  </ion-label>
  &nbsp;
  &nbsp;
  &nbsp;
  <ion-label><h1>Membasuh muka 3 kali sambil berniat mengambil wuduk.</h1>
    <p>a. Niatnya:</p>
    <img src="../../../assets/wuduk/niat-wuduk.png" alt="" srcset="">
    &nbsp;
    <p>b. Seiring itu disunatkan juga membaca:</p>
    <img src="../../../assets/wuduk/PermulaanWuduk.png" alt="" srcset="">
    &nbsp;
    <p>c. Bersihkan muka 3 kali dari atas dahi ke dagu dan dari telinga ke telinga.</p>
    <img src="../../../assets/wuduk/cucimuka.png" alt="" srcset="">
  </ion-label>
  &nbsp;
  &nbsp;
  &nbsp;
  <ion-label><h1>Membasuh kedua tangan sampai ke siku, sambil membaca doa:</h1>
    <p>a. Ketika membasuh tangan kanan:</p>
    <img src="../../../assets/wuduk/tanganKanan.png" alt="" srcset="">
    &nbsp;
    <p>b. Ketika membasuh tangan kiri:</p>
    <img src="../../../assets/wuduk/tanganKiri.png" alt="" srcset="">
  </ion-label>
  &nbsp;
  &nbsp;
  &nbsp;
  <ion-label><h1>Menyapu air ke sebahagian kepala sambil membaca:</h1>
    <img src="../../../assets/wuduk/basuhkepala.png" alt="" srcset="">
  </ion-label>
  &nbsp;
  &nbsp;
  &nbsp;
  <ion-label><h1>Membasuh bahagian luar dan dalam kedua belah telinga sambil membaca doa:</h1>
    <img src="../../../assets/wuduk/basuhtelingakanankiri.png" alt="" srcset="">
  </ion-label>
  &nbsp;
  &nbsp;
  &nbsp;
  <ion-label><h1>Membasuh kedua belah kaki hingga ke buku lali.</h1>
    <p>a. Semasa membasuh kaki kanan, disunatkan membaca:</p>
    <img src="../../../assets/wuduk/KakiKanan.png" alt="" srcset="">
    &nbsp;
    <p>b. Sewaktu membasuh kaki kiri disunatkan membaca:</p>
    <img src="../../../assets/wuduk/KakiKiri.png" alt="" srcset="">
  </ion-label>
  &nbsp;
  &nbsp;
  &nbsp;
  <ion-label>
    <h2>Doa Selepas Wuduk</h2>
    <img src="../../../assets/wuduk/doaselepasberwuduk.png" alt="" srcset=""></ion-label>
  </ion-list>
  &nbsp;
  &nbsp;
  <ion-list>
    <ion-list-header>
  <h2>PERKARA YANG MEMBATALKAN WUDUK</h2>
    </ion-list-header>
  <ion-label>
    <h2>1. Keluar Sesuatu Daripada Qubur atau Dubur</h2>
    <h2>2. Bersentuh Kulit Lelaki Dan Perempuan Yang Bukan Mahram Tanpa Berlapik</h2>
    <h2>3. Hilang Akal Kerana Gila, Mabuk, Pengsan, Atau Mengambil Ubat Yang Menghilangkan Ingatan</h2>
    <h2>4. Menyentuh Kemaluan Manusia Dengan Tapak Tangan Tanpa Berlapik</h2>
    <h2>5. Tidur Yang Tidak Tetap</h2>
    <h2>6. Keluar Dari Agama Islam (Murtad)</h2>
  </ion-label>
  </ion-list>
</ion-content>
