<ion-header>
  <ion-toolbar>
    <ion-title>Azan Dan Iqamat</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-avatar slot="start" >
      <img src="./assets/azanicon.png">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
    &nbsp;
    &nbsp;
  <ion-label><img src="../../../assets/azan.jpg" alt="" srcset=""></ion-label>
    &nbsp;
    &nbsp;
    <ion-label><img src="../../../assets/iqamat.jpg" alt="" srcset=""></ion-label>
</ion-content>
