<ion-header>
  <ion-toolbar>
    <ion-title>Nama-Nama Khulafah<br>Al-Rasyidin</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="./assets/abubakr.png">
      </ion-avatar>
      <ion-label>
        <h2>Abu Bakr(Abu Bakar as-Siddiq)<br>أَبُو بَكْر</h2>
        <h3>Full name:Abū Bakr aṣ-Ṣiddīq<br>‘Abdallāh bin Abī Quḥāfah</h3>
        &nbsp;
        <h3>Born: October 27, 573 AD, <br>Mecca, Saudi Arabia</h3>
        <h3>Died: August 23, 634 AD, <br>Medina, Saudi Arabia</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="./assets/umar.png">
      </ion-avatar>
      <ion-label>
        <h2>Umar (Umar Al-Khattab)<br>عمر بن الخطاب</h2>
        &nbsp;
        <h3>Born: October 27, 573 AD,<br> Mecca, Saudi Arabia</h3>
        <h3>Died: August 23, 634 AD,<br> Medina, Saudi Arabia</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="./assets/uthman.png">
      </ion-avatar>
      <ion-label>
        <h2>Uthman ibn Affan</h2>
        &nbsp;
        <h3>Born: 579 (42 BH)aif, Arabia</h3>
        <h3>Died: 17 June 656 AD<br>Medina, Arabia</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="./assets/alitalib.png">
      </ion-avatar>
      <ion-label>
        <h2>Ali ibn Abi Talib <br> عَلِيّ ٱبْن أَبِي طَالِب</h2>
        &nbsp;
        <h3>Born: 15 September 601 AD,<br>Mecca, Saudi Arabia</h3>
        <h3>Died: 29 January 661 AD<br> Kufa, Mesopotamia,</h3>
      </ion-label>
    </ion-item>
    </ion-list>
</ion-content>
