<ion-header>
  <ion-toolbar>
    <ion-title>Bulan Islam</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-avatar slot="start" >
      <img src="./assets/bulanislam/bulanislam.png">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
  &nbsp;
  <ion-label><img src="../../../assets/bulanislam/bulan-hijrah.jpg" alt="" srcset=""></ion-label>
  &nbsp;
  <ion-label><img src="../../../assets/bulanislam/kalender-hijriyah.jpg" alt="" srcset=""></ion-label>
  &nbsp;
</ion-content>
