<ion-header>
  <ion-toolbar>
    <ion-title>
      Muslim Info
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-button expand="full" color="light"(click)="solatfardhu()">Solat Fardhu</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" color="light"(click)="azan()">Azan Dan<br>Iqamat</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" color="light"(click)="khalifah()">Khulafah<br>Al-Rasyidin</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" color="light"(click)="doa()">Doa Harian</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" color="light"(click)="bulanislam()">Bulan Islam</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" color="light"(click)="rukunislam()">Rukun Islam</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" color="light"(click)="rukuniman()">Rukun Iman</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" color="light"(click)="najis()">Tiga Jenis<br>Najis</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" color="light"(click)="wuduk()">Wuduk</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" color="light"(click)="hijaiyah()">Huruf Hijaiyah</ion-button>
    </ion-col>
  </ion-row>  
</ion-content>
